body {
  background: #fafafa;
  color: #003135;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #003135;
}

.bg-steel {
  background-color: #357960;
}

.site-header .navbar-nav .nav-link {
  color: #90AEAD;
}

.site-header .navbar-nav .nav-link:hover {
  color: #FBE9D0;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #003135;
  border-radius: 3px;
  margin-bottom: 20px;
}

.skills-section {
  background: #ffffff;
  padding: 10px;
  border: 1px dotted #003135;
}

.wrap {
  float: right;
  margin: 5px;
 }

.content-title {
  color: #444444;
}

a.content:hover {
  color: #428bca;
  text-decoration: none;

}

.content {
  float: right;
  white-space: pre-line;
  padding: 10px;

}

.button {
  background-color: #357960; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.content-img {
  width: 80%;
  border-style: ridge ;
}

.prof-img {
  float: right;
  width: 250px;
  height: 250px;
  padding: 10px;

}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.footer {
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
