{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>About Me</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	</head>
	<body>
    <div>

			<div>
				<h1 class="header">About Me</h1>
				<img class="prof-img" src="static/image/headshot.jpg">
			</div>
			<div class="content">
				<p> I’m Sam, and I create data tools for school leaders, teachers, and students. My goal is the make data-driven instruction simple and transparent, so that educators can easily support their classrooms, and schools, and focus on providing the highest quality advising for their students.
      Currently, I work for OneGoal as a Senior Director of Analytics managing a team of analysts to support the buildout of our district coaching program. Previously, I have worked in data roles supporting schools in Nasvhille, TN and Jackson MI.
			I build and innovate using data systems and tools such as PowerBI, PostgreSQL, and Python. I am inspired by the educators that I work with, passionate about how data can address education inequity, and am always enthusiastic to discuss my work. </p>
			<p> Feel free to explore some of my work <a href = "/projects"> here </a>, and reach out if you're interested in learning more! </p>
			</div><!-- end intro-->
		</div><!--end container-->

	</body>

</html>
{% endblock content %}
