{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>About Me</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	</head>
	<body>

			<div class="content">
				<h1 class="header">About Me</h1>
				<img class="prof-img" src="static/image/headshot.jpg">
				<p> I’m Sam, and I am a data professional with a passion for leading analytic teams to best build products and tools in order to achieve organizational objectives. Currently, I create data tools for school leaders, teachers, and students, to support impactful data-driven instruction and student postsecondary advising. I work for OneGoal as a Senior Director of Analytics managing a nimble team to support the buildout and scale of our newest program model from 0 to 55 districts across 5 states. Previously, I have worked in data roles supporting schools in Nasvhille, TN and Jackson, MI. I build and innovate using data systems and tools such as Python, PowerBI, and PostgreSQL. I enjoy building web experiences (such as the website you're currently browsing), and iterating design based on feedback from users through cognitive and user interviews.
				<p> I am inspired by the educators that I work with, passionate about how data can address education inequity, and am always enthusiastic to discuss my work. Feel free to explore my technical work by clicking below, and reach out if you're interested in learning more! </p>
		 		<a class = "button" href = "/projects"> Explore Projects </a>
				<br>

			</div><!-- end intro-->
	</body>

</html>
{% endblock content %}
