{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <h1>Projects</h1>
    <hr>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <div> <b> Filter By Skill Below: </b></div>
            <div class="form-group">
                {% if form.skills.errors %}
                    {{ form.skills(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.skills.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                 {{ form.skills(class="form-control", id="dropdown", onchange="this.form.submit();") }}
                {% endif %}
            </div>
      </form>
    <div style = "float: left">
    {% for project in projects %}
      {% if selected_value in  project.skills%}

        <article class="media content-section">
          <div class="media-body">
            <p style = "float: right"><a href="{{ project.github }}" target = "_blank"> <i> Click To Explore Github </i> </a> </p>
            <h2> {{ project.name }} </h2>
            <p class="skills-section"> <b> Skills: </b> {{project.skills}} </p>
            <div style = "float: left">
            <h6> Description </h6>
            <p> {{ project.description }} </p>
            </div>
            <div>
            <img class="content-img" src="static/image/{{project.image}}.png"> </img>
            </div>
          </div>
        </article>
      {% endif%}
    {% endfor %}
    </div>
    </html>
{% endblock content %}
